
<form>
  <div class="form-group form-inline">
      Full text search: 
      <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
      <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
  </div>
  <div class="form-group form-inline">
    <button class="btn btn-lg btn-outline-primary" (click)="refresh()">Refresh Table</button>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="transaction_status" (sort)="onSort($event)">Status</th>
      <th scope="col" sortable="name" (sort)="onSort($event)">Client Name</th>
      <th scope="col" sortable="email" (sort)="onSort($event)">email</th>
      <th scope="col" sortable="project_type" (sort)="onSort($event)">Project Type</th>
      <th scope="col" sortable="file_url" (sort)="onSort($event)">File URL</th>
      <th scope="col" sortable="date_created" (sort)="onSort($event)">Date Created</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let upload of uploads$ | async">
      <th scope="row">{{ upload.transaction_id }}</th>
      <td><ngb-highlight [result]="upload.transaction_status" [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="upload.customer_name" [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="upload.email" [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="upload.project_type" [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="upload.file_url" [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="upload.date_created" [term]="service.searchTerm"></ngb-highlight></td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="5">5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="20">20 items per page</option>
      <option [ngValue]="40">40 items per page</option>
      <option [ngValue]="50">50 items per page</option>
      <option [ngValue]="100">100 items per page</option>
    </select>
  </div>

</form>