<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </nav> -->
  
  <!-- main app container -->
  <!-- <app-header></app-header> -->

  <app-file-upload></app-file-upload>
      <!-- <app-view-uploads></app-view-uploads> -->